SITE_URL=https://interstatecarcarriers.com.au
PUBLIC_SITE_URL=https://interstatecarcarriers.com.au
PUBLIC_SITE_NAME=Interstate Car Carriers
PUBLIC_SITE_DOMAIN=interstatecarcarriers.com.au
PUBLIC_VEHICLE_QUOTE_URL=https://quoting.interstatecarcarriers.com.au/quote/vehicle
PUBLIC_CONTACT_PAGE_URL=https://quoting.interstatecarcarriers.com.au/contact
PUBLIC_ANALYTICS_ENABLED=true
PUBLIC_ANALYTICS_PROVIDER=ga4
PUBLIC_ANALYTICS_CONFIG={"measurement_id":"G-G4FXNJBHPM","send_page_view":"true","anonymize_ip":"false","site_key":"interstatecarcarriers"}
PUBLIC_GA_MEASUREMENT_ID=G-G4FXNJBHPM
PUBLIC_GA_TAG_URL=https://www.googletagmanager.com/gtag/js
PUBLIC_GA_SEND_PAGE_VIEW=true
PUBLIC_GA_ANONYMIZE_IP=false
PUBLIC_MATOMO_BASE_URL=
PUBLIC_MATOMO_SITE_ID=
